<% if @articles.present? %>
  <% @articles.each do |article| %>
    <h3><a href="<%= article_path(article.id) %>"><%= article.title %></a></h3>
    <p><%= article.paragraphs.first.try(:text) %></p>
  <% end %>
<% else %>
    No records found
<% end %>
<%= will_paginate @articles %>