<form name="new-article-form" onSubmit="processArticle();return false;">
  <div class="form-group">
  	<label for="exampleTextarea">Title</label>
  	<input type="text" class="form-control" id="articleTitle" rows="10" name="title"></textarea>
  		<br/ ><br/ ><br/ >
  	<label for="exampleTextarea">Article Body</label>
    <textarea class="form-control" id="articleBody" rows="10" name="paragraph" ></textarea>
  </div>
  <br /><br /><br />
  <button type="submit" class="btn btn-primary">Submit</button>
	<button type="clear" class="btn btn-info" style="margin-left: 10%">Clear</button>
</form>