<script>
	$(document).ready(function() {
    // document is loaded and DOM is ready
    var SideComments = require('side-comments');

  	// Then, create a new SideComments instance, passing in the wrapper element and the optional the current user and any existing comments.
  	var currentUser = {
	    id: 1,
    	avatarUrl: "/person.png",
    	name: "You"
  	};
  	var existingComments = [];

  	<%@article.paragraphs.try(:each) do |paragraph|%>
  		var hash = {};
  		hash["sectionId"] = "<%= paragraph.id %>";
  		var comments = [];
  		<%paragraph.comments.try(:each) do |comment|%>
  			var commentHash = {};
  			commentHash["authorAvatarUrl"] = "/person.png";
  			commentHash["authorName"] = "Person";
  			commentHash["comment"] = "<%= comment.comment%>";
  			comments.push(commentHash);
  		<%end%>
  		hash["comments"] = comments;
  		existingComments.push(hash);
  	<%end%>
	  sideComments = new SideComments('#commentable-area', currentUser, existingComments);

	  sideComments.on('commentPosted', function( comment ) {
	  console.log(comment);
	  //comment.id = parseInt(Math.random() * (100000 - 1) + 1);
	  comment.paragraph_id = comment.sectionId;
	  $.ajax({
        url: '/comments',
        type: 'POST',
        data: comment,
        success: function( savedComment ) {
            // Once the comment is saved, you can insert the comment into the comment stream with "insertComment(comment)".
            sideComments.insertComment(comment);
        },error: function(jqXHR, textStatus, errorThrown) {
       		alert("Error while processing comment")
       }
    });
	});
});

</script>

<div class="container">
	<h3><center><%= @article.title %></center></h3>
	<br/><br/>
	<div id="commentable-area">
		<%@article.paragraphs.try(:each) do |paragraph|%>
			<p data-section-id="<%= paragraph.id %>" class="commentable-section"> <%= paragraph.text %></p>
			<br/><br/>
	<%end%>
</div>
</div>

