<!DOCTYPE html>
<html>
  <head>
    <title>BlogWithInlineComments</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/article">Blog with inline comments</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/article/new"><span class="glyphicon glyphicon-pencil"></span> Create New</a></li>
    </ul>
  </div>
</nav>
  <div class="container">
    <div class="col-lg-6">
      <%= yield %>
    </div>
  </div>
</body>
</html>
